* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: none;
}

.container{
    max-width: 1024px;
    min-width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider{
    width: 85%;
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 50px;
    cursor: pointer;
}

.images{
    padding: 10px 40px;
}

.active {
    display: block;
}
