* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: none;
}

.container{
    width: 1024px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
    position: relative;
    padding: 10px;
}

.arrow {
    font-size: 50px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.5s;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.2));
}

.arrow:hover {
    opacity: 1;
}

.arrow.left {
    left: 30px;
}

.arrow.right {
    right: 30px;
}

.images{
    position: relative;
}

.images img {
    position: absolute;
}

.images .first {
    display: block;
}

.active {
}

.slider-buttons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn {
    width: 35px;
    height: 8px;
    margin: 0 1px;
    background-color: rgb(179, 179, 179);
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: black;
}

.active-btn {
    background-color: black;
}
